.mod{clear:both}
html .kp-blk .xpdclose .LKPcQc,html .kp-blk .xpdopen .viOShc{padding-top:0}
.garHBe{color:#222;font-size:18px;position:relative}
.garHBe a{color:#222}
.xpdopen .Hhmu2e{overflow:inherit}
.xpdclose .a84NUc:not(:empty),.xpdopen .CQKTwc:not(:empty){border-top:solid 1px #EBEBEB;border-radius:0}
.rKR6H{padding-top:0.1px}
.xpdclose .oHglmf,.xpdopen .xzPb7d{padding-bottom:16px}
.xpdclose .kp-header .oHglmf,.xpdopen .kp-header .xzPb7d{padding-bottom:0}
.Wnoohf .xpdopen .yp1CPe,.OJXvsb .xpdclose .siXlze{padding-bottom:16px}
.Wnoohf .xpdclose .mod.xsZWvb,.Wnoohf .xpdopen .mod.EfDVh{padding-bottom:0}
.OJXvsb .xpdclose .mod.siXlze{padding-bottom:16px}
.c2xzTb .iq-content-first .oHglmf,.c2xzTb .iq-content-first .xzPb7d{padding-top:0;padding-bottom:16px}
#rhs .kp-blk .xpdclose .LKPcQc,#rhs .kp-blk .xpdopen .viOShc{padding-top:0}
#rhs .Wnoohf .xpdopen .yp1CPe,#rhs .OJXvsb .xpdclose .siXlze{padding-bottom:15px}
#rhs .Wnoohf .xpdclose .mod.xsZWvb,#rhs .Wnoohf .xpdopen .mod.EfDVh{padding-bottom:0}
#rhs .Wnoohf .xpdclose .mod.xsZWvb.ecRggb,#rhs .Wnoohf .xpdopen .mod.EfDVh.ecRggb,#rhs .kp-blk .ecRggb{padding-bottom:15px}
.A4O3hd{box-shadow:none !important}
.ecRggb{background-color:#fff;box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);border-radius:2px;margin:0 0 16px 0}
.axXiY{float:right}
.cwbtpl{
	width:88%;
	height:85%;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	cursor:pointer;
	display:table;
	font-size:15px;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	margin:0% 6%;
	padding:0;
	position:relative;
	text-align:center
}
.cwbb-tpl{
	background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#4d90fe,EndColorStr=#4787ed);
	background-image:-o-linear-gradient(top,#4d90fe,#4787ed);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
	background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-color:#4d90fe;
	background-image:linear-gradient(top,#4d90fe,#4787ed);
	border:1px solid #3079ed;
	color:#fefefe
}
.cwbd:hover .cwbb-tpl{
	    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    background-image:-moz-linear-gradient(top,#4d90fe,#357ae8);
	    background-image:-ms-linear-gradient(top,#4d90fe,#357ae8);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#4d90fe,EndColorStr=#357ae8);
	    background-image:-o-linear-gradient(top,#4d90fe,#357ae8);
	    background-image:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
	    background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
	    background-color:#4d90fe;
	    background-image:linear-gradient(top,#4d90fe,#357ae8);
	    border:1px solid #2f5bb7;
	    color:#fefefe
}
.cwlgb-tpl{
	background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:-ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5,EndColorStr=#f1f1f1);
	background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color:#f5f5f5;
	background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
	border:1px solid #dedede;
	color:#444
}
.cwbd:hover .cwlgb-tpl{
	    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    background-image:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	    background-image:-ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#f8f8f8,EndColorStr=#f1f1f1);
	    background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);
	    background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	    background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	    background-color:#f8f8f8;
	    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
	    border:1px solid #c6c6c6;
	    color:#222
}
.cwdgb-tpl{
	background-image:-moz-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-ms-linear-gradient(top,#d6d6d6,#d0d0d0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#d6d6d6,EndColorStr=#d0d0d0);
	background-image:-o-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(#d0d0d0));
	background-image:-webkit-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-color:#d6d6d6;
	background-image:linear-gradient(top,#d6d6d6,#d0d0d0);
	border:1px solid #c6c6c6;
	color:#444
}
.cwbd:hover .cwdgb-tpl{
	    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    box-shadow:0 1px 1px rgba(0,0,0,0.1);
	    background-image:-moz-linear-gradient(top,#d9d9d9,#d0d0d0);
	    background-image:-ms-linear-gradient(top,#d9d9d9,#d0d0d0);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#d9d9d9,EndColorStr=#d0d0d0);
	    background-image:-o-linear-gradient(top,#d9d9d9,#d0d0d0);
	    background-image:-webkit-gradient(linear,left top,left bottom,from(#d9d9d9),to(#d0d0d0));
	    background-image:-webkit-linear-gradient(top,#d9d9d9,#d0d0d0);
	    background-color:#d9d9d9;
	    background-image:linear-gradient(top,#d9d9d9,#d0d0d0);
	    border:1px solid #b6b6b6;
	    color:#222
}
.cwdb-tpl{
	-moz-box-shadow:inset 3px 1px 3px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 3px 1px 3px 0 rgba(0,0,0,0.2);
	box-shadow:inset 3px 1px 3px 0 rgba(0,0,0,0.2);
	-moz-border-radius:0 1px 1px 0;
	-webkit-border-radius:0 1px 1px 0;
	border-radius:0 1px 1px 0;
	background-image:-moz-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-ms-linear-gradient(top,#d6d6d6,#d0d0d0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#d6d6d6,EndColorStr=#d0d0d0);
	background-image:-o-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(#d0d0d0));
	background-image:-webkit-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-color:#d6d6d6;
	background-image:linear-gradient(top,#d6d6d6,#d0d0d0);
	border:1px solid #c6c6c6;
	color:#444;
	cursor:pointer;
	display:table;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	font-weight:lighter;
	height:85%;
	left:0%;
	position:absolute;
	right:auto;
	text-align:center;
	top:0%;
	width:94%
}
.cwrb-tpl{
	-moz-box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
	box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
	-moz-border-radius:1px 0 0 1px;
	-webkit-border-radius:1px 0 0 1px;
	border-radius:1px 0 0 1px;
	background-image:-moz-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-ms-linear-gradient(top,#d6d6d6,#d0d0d0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#d6d6d6,EndColorStr=#d0d0d0);
	background-image:-o-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(#d0d0d0));
	background-image:-webkit-linear-gradient(top,#d6d6d6,#d0d0d0);
	background-color:#d6d6d6;
	background-image:linear-gradient(top,#d6d6d6,#d0d0d0);
	border: 1px solid #c6c6c6;
	color:#444;
	cursor:pointer;
	display:table;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	font-weight:lighter;
	height:85%;
	left:6%;
	position:absolute;
	right:auto;
	text-align:center;
	top:0%;
	width:94%
}
.cwdrsb-tpl{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-border-radius:0 1px 1px 0;
	-webkit-border-radius:0 1px 1px 0;
	border-radius:0 1px 1px 0;
	background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:-ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5,EndColorStr=#f1f1f1);
	background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color:#f5f5f5;
	background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
	border:1px solid #c6c6c6;
	color:#444;
	cursor:pointer;
	display:table;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	font-weight:lighter;
	height:85%;
	left:97%;
	position:absolute;
	right:auto;
	text-align:center;
	top:0%;
	width:98%
}
.cwdrsbdm{
	-moz-border-radius:1px 0 0 1px;
	-webkit-border-radius:1px 0 0 1px;
	border-radius:1px 0 0 1px;
	left:6%
}
.cwdrsbrm{
	-moz-border-radius:0 1px 1px 0;
	-webkit-border-radius:0 1px 1px 0;
	border-radius:0 1px 1px 0;
	left:97%
}
.cwdrsba{
	background-image:url("//ssl.gstatic.com/onebox/calculator/1/sg.png");
	background-position:center center;
	background-repeat:no-repeat;
	z-index:4
}
.cwdbcd{
	height:85%;
	position:relative
}
.cwmd{
	-moz-user-select:-moz-none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-webkit-tap-highlight-color:transparent;
	height:310px;
	position:relative
}
.cwbsc sup{
	bottom:.7em;
	font-size:60%;
	vertical-align:top
}
.cwtld sup{
       position:relative;
       bottom:.4em;
       font-size:75%;
       vertical-align:baseline
}
.cwled sup{
       position:relative;
       bottom:.4em;
       font-size:75%;
       vertical-align:baseline
}
.cwed{
	width:100%;
	height:100%;
	direction:ltr
}
.cwtld{
	width:100%;
	height:21%;
	display:block;
	position:relative
}
.cwled{
	width:100%;
	height:6%;
	display:block;
	position:relative
}
.cwtlb{
	-moz-border-radius:1.1px;
	-webkit-border-radius:1.1px;
	border-radius:1.1px;
	background-color:none;
	border:1px solid #d9d9d9;
	border-top:1px solid #c0c0c0;
	color:#333;
	height:75%;
	left:1%;
	position:absolute;
	top:12.5%;
	width:98%
}
.cwtlbh.cwtlbs,.cwtlbs{
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
	border:1px solid #4d90fe
}
.cwtlbh{
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	border:1px solid #b9b9b9;
	border-top:1px solid #a0a0a0
}
.cwtlwm{
	background-color:white;
	border:none;
	height:100%;
	margin-top:3px;
	position:absolute;
	top:88%;
	width:100%;
	z-index:1
}
.cwtltbl{
	transition:height .2s;
	-moz-transition:height .2s;
	-o-transition:height .2s;
	-webkit-transition:height .2s;
	color:#222;
	display:table;
	font-size:30px;
	height:100%;
	position:absolute;
	table-layout:fixed;
	width:100%;
	z-index:0
}
.cwtltblaf{
	transition:height 0s;
	-moz-transition:height 0s;
	-o-transition:height 0s;
	-webkit-transition:height 0s;
	height:200%
}
.cwletbl{
	transition:height .2s,font-size .2s,color .2s;
	-moz-transition:height .2s,font-size .2s,color .2s;
	-o-transition:height .2s,font-size .2s,color .2s;
	-webkit-transition:height .2s,font-size .2s,color .2s;
	color:#757575;
	display:table;
	font-size:13px;
	height:100%;
	left:1%;
	overflow:hidden;
	position:absolute;
	table-layout:fixed;
	width:98%
}
.cwletblaf{
	transition:height 0s,font-size 0s,color 0s;
	-moz-transition:height 0s,font-size 0s,color 0s;
	-o-transition:height 0s,font-size 0s,color 0s;
	-webkit-transition:height 0s,font-size 0s,color 0s;
	color:black;
	font-size:170%;
	height:300%
}
.cwrdca{
	transition:left .2s;
	-moz-transition:left .2s;
	-o-transition:left .2s;
	-webkit-transition:left .2s
}
#cwtltblr{
	display:table-row
}
#cwtltblr:focus{
	outline:none
}
.cwtlptc{
	display:table-cell;
	vertical-align:middle;
	width:2.5%
}
.cwtlotc{
	display:table-cell;
	overflow:hidden;
	padding-right:2%;
	vertical-align:middle;
	width:95%
}
.cwleotc{
	display:table-cell;
	overflow:hidden;
	padding-right:2%;
	vertical-align:bottom;
	width:100%
}
.cwcd{
	display:inline-block;
	height:100%;
	overflow:hidden;
	position:absolute
}
.cwcod{
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	width:100%;
	height:80%;
	background-color:white;
	border:1px solid #d9d9d9;
	border-top:1px solid #c0c0c0;
	color:#333;
	display:table;
	margin:10% 0%;
	overflow:hidden;
	position:absolute
}
.cwcotbl{
	display:table-cell;
	font-size:17px;
	font-weight:bold;
	max-width:100px;
	overflow:hidden;
	padding:0% 15% 0% 4%;
	vertical-align:middle;
	width:80%
}
.cwcotb{
	display:block;
	overflow:hidden
}
.cwcot{
	-moz-user-select:text;
	-webkit-user-select:text;
	-ms-user-select:text;
	float:right;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	font-weight:lighter;
	white-space:nowrap
}
.cwclet{
	-moz-user-select:text;
	-webkit-user-select:text;
	-ms-user-select:text;
	position:absolute;
	bottom:0;
	font-family:Roboto-Regular,helvetica,arial,sans-serif;
	font-weight:lighter;
	right:0;
	white-space:nowrap
}
#cwfleb{
	width:100%;
	height:200%;
	position:absolute;
	top:-50%;
	z-index:2
}
.cwbsc{
	bottom:0;
	height:72%;
	position:absolute;
	width:100%;
	z-index:2
}
.cwbr{
	display:block;
	height:20%;
	position:relative
}
.cwbbc-c{
	display:inline-block;
	height:100%;
	position:absolute;
	vertical-align:bottom;
	width:25%
}
.cwsbc-c{
	display:inline-block;
	height:100%;
	position:absolute;
	vertical-align:bottom;
	width:33.3%
}
.cwsbc{
	width:42.85%;
	left:0
}
.cwbbc{
	width:57.15%;
	left:42.85%
}
.cwbts{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	display:table-cell;
	vertical-align:middle
}
.cwbbts{
	font-size:20px
}
.cwsbts{
	font-size:11px
}
.cwbbc1{left:0%}
.cwbbc2{left:25%}
.cwbbc3{left:50%}
.cwbbc4{left:75%}
.cwsbc1{left:0%}
.cwsbc2{left:33.33%}
.cwsbc3{left:66.66%}

@media screen and (max-width:459px){
       .cwsbcm{display:none}
       .cwbbcm{left:0%;width:100%}
       .cwtlbm{left:2%;width:96%}
       .cwletbl{left:2%;width:96%}
}
@media screen and (min-width:460px) and (max-height:450px){
       .cwsbcm{width:42.85%}
       .cwbbcm{left:42.85%;width:57.15%}
       .cwtlbm{left:1%;width:98%}
       .cwmd{height:230px}
       .cwled{height:7%}
       .cwtld{height:25%}
       .cwbsc{height:68%}
}
.mDRaHd{clip:rect(1px,1px,1px,1px);height:1px;margin:0;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px;z-index:-1000}
.ghri8e{text-align:center}
.ghri8e a{display:inline-block;padding-top:8px}
.eJ7tvc{color:rgba(0,0,0,0.57);margin:12px 20px;font-size:14px}
.AUiS2{border-top:1px solid rgba(0,0,0,0.08);box-shadow:0 1px 2px rgba(0,0,0,0.2);outline:none;display:none;left:calc(100% + 64px);margin-top:10px;top:2px;opacity:0;transition:all 150ms ease-in-out;transform-origin:top left;white-space:nowrap}
.N90jdc{background-image:url(data:image/svg+xml,%0A%3Csvg%20focusable%3D%22false%22%20width%3D%2216px%22%20height%3D%2216px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7.41%207.84L12%2012.42l4.59-4.58L18%209.25l-6%206-6-6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A);background-repeat:no-repeat;background-position:center;height:16px;position:absolute;top:calc(100% + 15px);right:4px;margin-right:-12px;margin-top:-34px;outline-width:0;opacity:0;padding:3px;transition:transform 200ms ease-in-out,opacity 200ms ease-in-out;transform:rotate(-90deg);width:16px}
.d8lLoc{background-color:transparent;transform-origin:top}
.hYkSRb{display:inline-block;overflow-x:hidden;overflow-y:hidden;margin-left:-16px;padding-right:24px;width:100%;padding-left:20px}
.hYkSRb::-webkit-scrollbar{display:none}
.XCKyNd{background-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);background-repeat:no-repeat;background-position:center;position:absolute;right:-16px;width:16px;height:16px;padding:12px;z-index:10;opacity:0.54}
.XCKyNd:focus{outline:none}
.exp-outline{border:solid 1px rgba(0,0,0,0.13);position:absolute;transition:opacity 150ms ease-in-out,height 150ms ease-in-out;pointer-events:none;opacity:0;width:calc(100% - 2px);left:0px;transform:translateY(-11px);border-radius:2px}
.d8lLoc{padding-left:15px}
.AUiS2{box-shadow:none;margin-top:8px;margin-left:-15px;margin-right:-15px}
.hYkSRb{line-height:24px;max-height:72px;margin-left:0;overflow-x:hidden;padding-left:0px;padding-right:0;white-space:normal;width:calc(100% - 24px)}
.eJ7tvc{margin-bottom:4px;margin-left:0px;margin-top:14px}
.exp-r{display:inline-block;margin-right:16px;margin-bottom:0}
.N90jdc{transform:none}
.exp-c{display:inline-block;vertical-align:top}
.exp-r{display:block}
.hYkSRb{white-space:nowrap}
.Fam1ne{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAQAAAAYCMGrAAAA+klEQVR4AcWV4cbtMBBFF0MIVUopoVSrhDDv/3gf/RFRpzdNOty1HiBO99mzeYWgCMZMKCPGrCgrxiSUhCkDeukxJKCXAUMiehkxw6FZhxEzmp0x4kCzByYISqlYdal0supS6WrVpdLEK0YSamJiJOPY0c/uOG4s6CcXfuKJaJcRzyNCQJsNiF1sRTR1hP11NNJ8RCrONOPRf+r7J+TZgQ5CNfMOYvW/2YxDqzqA/57+gVY9eiakrnyZEGXDsaE3p/4JScwPX3rtnZATDxnPWT7X16XAHaH8HWNrlxJD9TyGti5tCM84zpZe+RxNjeX9tZqLaGoMxN/P/wHP5Vw+8ZxnEQAAAABJRU5ErkJggg==);background-repeat:repeat-x;display:inline-block;overflow:hidden;position:relative}
.Fam1ne span{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAMAAACF3/kSAAAARVBMVEUAAADncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvncRvQdmh2AAAAFnRSTlMAEDAg71CgQJDg8HBvYMDPv4/fr3+fs8YwdQAAANlJREFUeF6Nk9uOgCAMBS0g4hVve/7/UzdrE2NXqJ3neSmHad4QqDEyo7WqEdGqDhiMZgfA2dQEINnUHkBvMj3+8BZ1vNTRoi6XuhhMAkOWqZjZMhUTLVMxpcHagG8CfyC/4ov1fuYTOufjFrcr4i7/Dm2osZHxulAKgkrXrZXRppc5NTUcJE5LRdJpqUiSloqkV1OReC0VyailIlnUVCSkp4LDH2Awq6mE6TFc1FLJPJHLnI0y1XZH/nO5bW2q0P2PLlWmOkhOksuDOb5HchZ/15hd6YD9Mdgvr0crAhbtroEAAAAASUVORK5CYII=);background-repeat:repeat-x;display:block}
.KsUr1 .Fam1ne,.Fam1ne.sCCsuc{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA6klEQVR4AZXQMWsCMRiH8SAnQacODgpyg8rh1EEQHXS5xaUdXA5KRUHo+/2/wdN3aBNK34TEZ0rCD86/S/140ZydI9WrVo3etUrk+dJ8Hdog2qYO9YjW16ARD0R7MCpHC+SnRTk6BHQoR0NAg43WvP1LYsbrWh0tN6SwG+3v53n6ItLj//6nFfcsuLOyhphwSZILk/R6nUm6/OQzE83yaGeiXR5dTXTNoSmSaJpGWyQ0aBLaplGc/EijHePkKdTwRLQP5uFurifRnjQ2ahHtzBhHbKw3orU2OvHJEme01JeTjfZ4XCLPPp6+AYsy7RMdMSvnAAAAAElFTkSuQmCC)}
.KsUr1 .Fam1ne span,.Fam1ne.sCCsuc span{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA9klEQVR4AZXUoY7iUABG4SYYEgwYwhOsx4MlqUaAQ/AGMxqHIUHDC4DnATaMx7MORVAEh5vAtzUN7M69TXuOurc5SfuLJjH8ykzCJmJ++qgefWVWjJq+M5vVojEYV4s2YFMlqrmBm1r5qC+nXz5ayFmUj/7IOYajkd//uffO/sfzUdZJXZTlIs1fr2WrDFutf79p6KqIq2FoiLadGDvt+HoTISbFk3eF6BZHMyFmxdFBiENR1PEU4qkTj6ZeHDNfTONRPvnDUj1z6ZFPHovq7uCkJ7/rOYG7ejhKwVrD+23DGqThaOVsIAk4cLYKR3NN8b/T/HX6C7jRb/QEnjPPAAAAAElFTkSuQmCC)}
.tPhRLe{background:url(/images/nav_logo242_hr.png) no-repeat -100px -260px;background-size:167px;display:inline-block;height:13px;overflow:hidden;position:relative;top:1px;width:65px}
.tPhRLe span{background:url(/images/nav_logo242_hr.png) no-repeat -100px -275px;background-size:167px;display:block;height:13px;width:65px}
.oDATnf{display:block}
.Lt4Ktd{display:block;padding:1px}
.xgEGPe{font-size:18px;line-height:22px}
.x4s9Pc{width:647px}
.xgEGPe{text-overflow:ellipsis;white-space:nowrap;width:auto;overflow:hidden}
.xgEGPe div{display:inline-block}
.mnr-c.bUNBRd:not(:empty){background-color:#f8f8f8}
#center_col g-card{margin-left:-16px;margin-right:-16px}
g-tray-header{font-family:arial,sans-serif-medium,sans-serif;line-height:20px;display:block;font-size:14px;padding:13px 16px 11px;}
.N60dNb,.N60dNb a{color:rgba(0,0,0,.54);font-family:arial,sans-serif-medium,sans-serif !important}
.CCb0ac,.CCb0ac a{color:rgba(0,0,0,.87);font-family:arial,sans-serif-medium,sans-serif !important}
g-scrolling-carousel{display:block;position:relative;}
.mR2gOd{display:block;overflow-x:auto;position:relative;white-space:nowrap;transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.R8WKDe{height:24px;margin:0px;pointer-events:none;position:absolute;top:0px;width:24px}
.R8WKDe.jQ4xzd{background-image:linear-gradient(-90deg,rgba(255,255,255,0.00),#FFFFFF);left:0px}
.R8WKDe.oSb0Bf{background-image:linear-gradient(90deg,rgba(255,255,255,0.00),#FFFFFF);right:48px}
.mR2gOd::-webkit-scrollbar{display:none}
.DAVP1{display:inline-block}
.qYgTBf{display:inline-flex}
.TUb92e{display:block}
.m8vZ3d{display:flex}
.ZBNotc{display:inline-block;margin-right:8px}
.ZBNotc:last-child{margin-right:0}
.PGsiAe{box-sizing:border-box;display:inline-block;height:312px;overflow:hidden;padding:16px;vertical-align:baseline;width:208px}
.PcnExd{box-sizing:border-box;display:block;height:138px}
.gMHXMc{box-sizing:border-box;display:block;height:146px;line-height:15px;padding-top:16px;overflow:hidden}
.KQ2lBd{font-weight:bold}
g-inner-card{background-color:#fff;border-radius:2px;display:block;overflow:hidden}
.VoEfsd{box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08)}
.SQI1ub{}
.eluPKe{vertical-align:middle;margin-bottom:16px;text-align:center}
.NE5rGd{display:inline-block}
g-img{display:block}
.M4dUYb{position:relative}
.BA0A6c{overflow:hidden}
.rISBZc{display:block;border:0}
.X2nGDe{display:block;overflow:hidden;font-size:16px;text-overflow:ellipsis;white-space:nowrap}
.mNTLf{display:block;}
.mBU3hd{margin-right:8px}
.LAFKB{color:rgba(0,0,0,0.54)}
.K75dkc{color:#222;margin-top:8px;white-space:normal}
.RDXM4d{-webkit-box-orient:vertical;display:block;display:-webkit-box;-webkit-line-clamp:2;max-height:32px;overflow:hidden;white-space:normal;word-wrap:break-word}
a.ElqgE{color:#222}
.pH2lxf{color:rgba(0,0,0,0.54);margin-top:4px}
.Lu0opc{cursor:pointer;height:72px;position:absolute;display:block;visibility:inherit;width:36px;z-index:1;bottom:0;margin-bottom:auto;margin-top:auto;outline:none;opacity:0.8;top:0}
.Lu0opc.nb-fades{-webkit-transition:opacity 0.5s,visibility 0.5s;transition:opacity 0.5s,visibility 0.5s}
.Lu0opc:hover{opacity:0.9;}
.Lu0opc:focus{outline:none}
.Lu0opc.nb-disabled,.Lu0opc.nb-disabled:hover{cursor:default;opacity:0;visibility:hidden}
.p2WJce{bottom:0;display:block;margin:auto 0;position:absolute !important;top:0}
.Lu0opc.eSq3C{height:36px;width:36px;opacity:0.9}
.Lu0opc.eSq3C:hover{opacity:1.0}
.Lu0opc.eSq3C.nb-disabled,.Lu0opc.eSq3C.nb-disabled:hover{opacity:0}
.Lu0opc.eSq3C:hover g-fab{color:#222 !important}
.BlOseb.eSq3C g-fab,.k2Oeod.eSq3C g-fab{box-shadow:0 0 0 1px rgba(0,0,0,0.04),0 4px 8px 0 rgba(0,0,0,0.20);cursor:pointer;height:36px;width:36px}
.BlOseb.eSq3C{left:-18px}
.k2Oeod.eSq3C{right:-18px}
.CNf3nf{border-radius:50%;cursor:default;display:block;position:relative;box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08),inset 0 0 0 0 rgba(0,0,0,0.10),inset 0 0 0 0 rgba(255,255,255,0.50);z-index:0}
.CNf3nf:focus{outline:none}
.CNf3nf .PUDfGe{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:24px;height:24px}
.LhCR5d{width:40px;height:40px}